*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Hua';
}

@font-face{
    font-family: 'Hua';
    src:url('../imagenes-fuentes/hua-13.ttf') format('truetype');
}

@media (max-width: 1024px){
    .container__cards{
        flex-direction: column;
        min-width: 100%;
    }
    .container__box{
        margin: 50px;
    }
}

@media (max-width: 768px){
    .header__item{
        display:inline-flex;
        width: 20%;
        padding:0 10px;
    }

    .container__cards{
        flex-direction: column;
        min-width: 100%;
    }
    .container__box{
        margin: 50px;
    }
}

@media (max-width: 480px){
    .header{
        min-height: 90px;
    }

    .header__item{
        display: inline-flex;
        min-width: 30%;
        padding:5px 5px;
        margin: 5px;
    }

    .container__cards{
        flex-direction: column;
        min-width: 100%;
    }
    .container__box{
        margin: 50px;
    }
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 60px;
    gap: 40px;
    background-color: white;
}

.header__item{
    font-family: 'Hua';
    color: black;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    padding: 0 90px;
}

.header__item:hover{
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 1));
}

.container__projects{
    width: 100vw;
    min-height: 91.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

.container__main-title{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 0;
    padding-top:20px ;
    padding-bottom: 100px ;
    font-size: 3em;
    font-weight:800;
}

.container__cards{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width:15%;
    min-height:15%;
    max-width: 15%;
    max-height: 15%;
    background-color: black;
    border-radius: 10%;
    padding-top:10px;
}

.container__titles{
    text-align: center;
    color: white;
    font-weight: 900;
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 15px;
}

.container__box img{
    width: 220px;
    height: 250px;
    border-radius: 5%;
    filter:blur(1.0px) drop-shadow(5px 5px 10px rgba(0, 0, 0, 1.2));
    cursor: pointer;      
    object-fit: cover;
}

.container__box img:hover{
    transform: scale(1.1);
    opacity: 75%;
}

footer{
    font-family: monospace;
    color: black;
    bottom: 0;
}